body {
    background-color: violet;
    margin: 0px;
}
img{
    height: 300px;
    width: 100%;
}
ul li {
    margin-bottom: 5px;
}
.nav-bar li,.nav-bar a {
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    margin-left: 10px;
    color: black;
    background-color: yellow;
    border-radius: 3px;
}
.nav-bar img {
    height: 18px;
    width: 13px;     
}
.nav-bar {
    background-color: #22bbaa;
    text-align: right;
    height: 30px;
}
